@import url("https://fonts.googleapis.com/css2?family=League+Spartan&family=Roboto:ital,wght@0,500;0,700;1,400;1,500&display=swap");

body {
  font-family: "Roboto";
  background-color: wheat;
}
h1 {
  font-size: 18px;
  display: flex;
  justify-content: center;
}


.container {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.task-list {
  background-color: beige;
  border: 2px solid black;
}

.task-card h4 {
  margin-top: 0;
}

.task-card span {
  display: block;
  margin-bottom: 10px;
}

.task-card button {
  margin-right: 40px;
  margin-left: 40px;
  
}
/* Adicione estilos para os cards de tarefa */
.task-card {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
 
}

strong {
  color: blue;
}
.btn-cadastro{
width: 100px;
height: 50px;


}
#tarefas-cadastradas{

  margin-bottom: 10px;
}
.btn-cadastro:hover{
background-color: blue;
cursor: pointer;

}
button{
  font-family: "Roboto";
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.filter-container{
  float: right;
  

}
@media screen and (min-width: 768px) {
  
  .button-container {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
}

.btn-editar {
  background-color: #1abc9c;
  color: #fff;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

.btn-excluir {
  background-color: #e74c3c;
  color: #fff;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .btn-editar,
  .btn-excluir {
    width: 150px;
  }
}
