
  @import url('https://fonts.googleapis.com/css2?family=League+Spartan&family=Roboto:ital,wght@0,500;0,700;1,400;1,500&display=swap');

body{

  font-family: 'Roboto';
  background-color:wheat;
}
h1{
  font-size: 18px;
  display: flex;
  justify-content: center;
}
.container{
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

button:hover{
  background-color: blue;
  cursor: pointer;
}
.btn-editar{
  width: 100px;
  border-radius: 8px solid black;
  margin-bottom: 1%;

}
.btn-delete{
  width: 100px;
  border-radius: 8px solid black;
  margin-bottom: 1%;
}
.task-list{
 background-color: beige;
border: 2px solid black;

  
}
.task-card {

  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.task-card h4 {
  margin-top: 0;
}

.task-card span {
  display: block;
  margin-bottom: 10px;
}

.task-card button {
  margin-right: 40px;
  margin-left: 40px;
}
